@font-face {
  font-family: 'Roslindale';
  src: url('/fonts/RoslindaleDisplayCondensed-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
  unicode-range: U+000-5FF;
}