@import '../styles/media-queries.css';
@import '../styles/vars.css';
a{
  text-decoration: none;
  padding: 0 50px;
}
h1, h6{
  margin: 0;
}

body{
  background-color: #191919;
}
.title{
  font-family: 'Roslindale';
  color: #EAEAEA;
  text-align: left;
  padding:  50px;
  margin: 0px;
  line-height: 1;
  max-width: 1440px;
  font-size: 10vw;
}
.text{
  color: white;
  font-size: 40px;
  font-weight: 300;
  padding: 0 50px;
  margin-bottom: 50px;
}
.job_link{
  color: #EAEAEA;
  display: inline-block;  
  margin-bottom: 10px;
}
.job_link:hover{
  text-decoration: underline;
  color: #EAEAEA;
}
.link_wrapper{
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}

.link{
  color: #EAEAEA;
  text-decoration: underline;
}

@media screen and (--media-max-xlarge){ 
  .title{
    font-size: 72px;
    margin-bottom: 30px;
    margin-top: 30px;
  }
  .text{
    font-size: 24px;
  }
  .text, .title, a {
    max-width: 100%;  
    padding: 0 32px !important;
  }
}