@import '../styles/media-queries.css';
@import '../styles/vars.css';

@font-face {
  font-family: 'RoslindaleDisplayCondensed';
  src: url('/web/src/styles/RoslindaleDisplayCondensed-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
a{
  text-decoration: none;
  padding: 0 50px;
  display: inline;

}
h1,h6{
  margin: 0;
}

body{
  background-color: #191919;
}
.title{
  font-family: RoslindaleDisplayCondensed;
  color: #EAEAEA;
  font-size: 7vw;
  text-align: left;
  width: 1280px;
  padding: 0 50px;
  margin-top: 50px;
}
.text{
  color: white;
  font-size: 40px;
  font-weight: 300;
  padding: 0 50px;
  margin-bottom: 40px;
}
.job_link{
  color: #EAEAEA;
  display: inline-block;  
  margin-bottom: 10px;
}
.link_wrapper{
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}

.link{
  color: #EAEAEA;
  text-decoration: underline;
}

/* .content {
  min-height: calc(100% - 73px - 152px);

  @media (--media-min-small) {
    min-height: calc(100% - 90px - 169px);
  }
}

.footer {
  background-color: red;
  bottom: 0;
  position: absolute;
  width: 100%;
}

.footerWrapper {
  bottom: 0;
  position: relative;

  @media (--media-min-small) {
    padding: 2em;
  }
}

.companyAddress {
  text-align: center;
  margin: 0 0 1rem;
}

.siteInfo {
  text-align: center;
  font-size: var(--font-small-size);
  line-height: var(--font-small-line-height);

  @nest & a {
    color: inherit;
  }
} */
